* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensure padding and border are included in width and height calculations */
  }
  
  .greenup_blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg2);
    width: 100vw;
    min-height: 100vh;
  }
  
  .greenup_blog p {
    flex: 1;
    font-size: 1.3rem; /* Adjust font size for better readability */
    color: white;
    line-height: 1.6;
    padding: 2rem;
    font-family: var(--font-family-secondary); /* Correct font-family property */
  }
  
  .greenup_blog img {
    width: 35%;
    height: auto; /* Maintain aspect ratio */
    padding: 2rem;
  }
  
  @media (max-width: 768px) {
    .greenup_blog {
      flex-direction: column;
      text-align: center;
      padding: 1rem;
      min-height: auto;
    }
  
    .greenup_blog p {
      font-size: 1rem; 
      padding: 1rem; 
    }
  
    .greenup_blog img {
      max-width: 100%; 
      height: auto; 
      margin-top: 1rem; 
    }
  }
  
  @media (max-width: 480px) {
    .greenup_blog p {
      font-size: 1rem; 
      padding: 0.5rem;
    }
  
    .greenup_blog img {
      width: 100%; 
      height: auto; 
      margin-top: 0.5rem; 
    }
  }
  